language: node_js

node_js:
    - "10"

sudo: false

git:
    submodules: false

before_script:
    - npm install

script:
    - npm run pretest
    - npm run test

after_success:
    - npm run report-coveralls
    - npm run report-codecov